# Common
.DS_Store
node_modules/
.expo/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backend (Laravel)
backend/.env
backend/vendor/
backend/storage/*.key
backend/public/storage
backend/public/hot
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/bootstrap/cache/*

# Frontend (React Native/Expo)
my-app/node_modules/
my-app/.expo/
my-app/dist/
my-app/*.jks
my-app/*.p8
my-app/*.p12
my-app/*.key
my-app/*.mobileprovision
my-app/web-build/

# IDE
.vscode/
.idea/
*.swp
*.swo
